:root {
  --main-color: #212121;
  --second-color: #2196f3;

  --third-color: #757575;

  --fourth-color: #ffffff;
}

body {
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 1.4;
  }
}
*,
*::before,
*::after {
box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;
}

ul,
ol {
margin: 0;
padding: 0;
list-style: none;
}

img {
display: inline-block;
max-width: 100%;
height: auto;
}

a {
text-decoration: none;
}
